include *.md
include LICENCE.txt
include firefly/data/spear.csv
include firefly/data/spear_uncoupled.csv
recursive-include firefly/data/Search *
recursive-include firefly/data/Candidates *
recursive-include firefly/data/Targets *
recursive-include firefly/data/Filters *
